@{
    ViewData["Title"] = "Políticas de Privacidad";
}
<h1>@ViewData["Title"]</h1>


    <p>
    Última actualización: Enero 2023
    </p>

<h4>Introducción</h4>
<p>
    La privacidad de nuestros usuarios es muy importante para nosotros. Esta Política de Privacidad describe cómo Consultorio Virtual ("nosotros", "nuestro/a", "la empresa") recopila, utiliza y protege la información personal de los usuarios de nuestra aplicación web de consultorio médico ("la aplicación"). Al utilizar la aplicación, usted acepta esta Política de Privacidad.
  </p>
<h4>Información que recopilamos</h4>
<p>
    Recopilamos información personal que usted nos proporciona al registrarse en la aplicación, solicitar una cita médica o utilizar nuestros servicios. Esta información puede incluir su nombre, dirección de correo electrónico, número de teléfono y datos de salud.

    También recopilamos información no personal, como la dirección IP de su dispositivo, el navegador que utiliza y los datos de uso de la aplicación. Esta información se recopila automáticamente cuando utiliza la aplicación.

</p>
<h4>Uso de la información</h4>
<p>
    Utilizamos la información personal que recopilamos para proporcionarle nuestros servicios, programar citas médicas, enviar recordatorios y ofrecerle una experiencia personalizada en la aplicación.

    La información no personal se utiliza para mejorar y optimizar la aplicación, así como para realizar análisis de uso y estadísticas.

    No vendemos ni compartimos su información personal con terceros, excepto cuando sea necesario para proporcionar nuestros servicios o cumplir con las leyes aplicables.
</p>
   <h4>
    Seguridad de la información
   </h4> 
    <p>
        Tomamos medidas de seguridad técnicas y organizativas adecuadas para proteger su información personal contra el acceso no autorizado, la pérdida, el uso indebido o la divulgación.
  </p>
<h4>
    Cookies y tecnologías similares
</h4>  
<p>
    Utilizamos cookies y tecnologías similares para recopilar información no personal sobre el uso de la aplicación. Las cookies son pequeños archivos que se almacenan en su dispositivo cuando utiliza la aplicación. Puede configurar su navegador para rechazar las cookies o eliminarlas, pero esto puede afectar el rendimiento y la funcionalidad de la aplicación.

</p>

<h4>
    Enlaces a sitios web de terceros
    </h4>
    <p>
    La aplicación puede contener enlaces a sitios web de terceros. No somos responsables de las prácticas de privacidad o el contenido de estos sitios web. Le recomendamos que revise las políticas de privacidad de estos sitios web antes de proporcionar cualquier información personal.

    </p>
<h4>
    Cambios en la Política de Privacidad
</h4>
<p>
    Nos reservamos el derecho de actualizar o cambiar esta Política de Privacidad en cualquier momento. Le notificaremos cualquier cambio material en la política publicando la nueva Política de Privacidad en la aplicación. Le recomendamos que revise periódicamente esta página para conocer cualquier cambio.
</p>
     <h4>
    Contáctenos
     </h4>
     <p>
    Si tiene alguna pregunta o inquietud sobre esta Política de Privacidad, comuníquese con nosotros a través del correo electrónico <u>servicioalcliente@consultoriovirtual.com</u> .
     </p>

<h6> <i>Esta Política de Privacidad se rige por las leyes de Costa Rica.</i></h6>
   
