@model FrontEnd.Models.CitaViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="col-4 mx-auto text-center">
<h1>Create</h1>
</div>
<hr />
<body class="m-0 row justify-content-center">
    <div class="navbar-header">
        <div class="col-4 mx-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                    <label asp-for="IdCitas" class="form-label mt-8"></label>
                <input asp-for="IdCitas" class="form-control" />
                <span asp-validation-for="IdCitas" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="IdUsuarioFk" class="form-label mt-8"></label>
                <input asp-for="IdUsuarioFk" class="form-control" />
                <span asp-validation-for="IdUsuarioFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="IdDoctorFk" class="form-label mt-8"></label>
                <input asp-for="IdDoctorFk" class="form-control" />
                <span asp-validation-for="IdDoctorFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="Condicion" class="form-label mt-8"></label>
                <input asp-for="Condicion" class="form-control" />
                <span asp-validation-for="Condicion" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="Dia" class="form-label mt-8"></label>
                <input asp-for="Dia" class="form-control" />
                <span asp-validation-for="Dia" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="Hora" class="form-label mt-8"></label>
                <input asp-for="Hora" class="form-control" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                    <label class="form-check-label mt-8">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-lg btn-light btn-outline-dark" />
            </div>
        </form>
    </div>
    </div>
    <br />
    <div class="col-4 mx-auto">
        <a asp-action="Index">Back to List</a>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
