@model FrontEnd.Models.ExpedienteViewModel

@{
    ViewData["Title"] = "Create";
}
<div class="col-4 mx-auto text-center">
    <h1>Create</h1>
</div>
<hr />
<body class="m-0 row justify-content-center">
    <div class="navbar-header">
        <div class="col-4 mx-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                    <label asp-for="IdExpediente" class="form-label mt-8"></label>
                <input asp-for="IdExpediente" class="form-control" />
                <span asp-validation-for="IdExpediente" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="IdUsuarioFk" class="form-label mt-8"></label>
                <input asp-for="IdUsuarioFk" class="form-control" />
                <span asp-validation-for="IdUsuarioFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="IdDoctorFk" class="form-label mt-8"></label>
                <input asp-for="IdDoctorFk" class="form-control" />
                <span asp-validation-for="IdDoctorFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="Padecimiento" class="form-label mt-8"></label>
                <input asp-for="Padecimiento" class="form-control" />
                <span asp-validation-for="Padecimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="Tratamiento" class="form-label mt-8"></label>
                <input asp-for="Tratamiento" class="form-control" />
                <span asp-validation-for="Tratamiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-lg btn-light btn-outline-dark" />
            </div>
        </form>
    </div>
    </div>
    <br />
        <div class="col-4 mx-auto">
        <a asp-action="Index">Back to List</a>
    </div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
